
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="table-responsive">
			<table id="recipeListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Timp de preparare</th>
						<th>Ingrediente</th>
						<th>Mod de preparare</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="recipe : ${recipeList}">
<!-- 						<td><input hidden="hidden" name="id" th:value="${recipe.id}" /></td> -->
						<td th:text="${recipe.name}"></td>
						<td th:text="${recipe.timp_preparare}"></td>
						<td th:text="${recipe.ingrediente}"></td>
						<td th:text="${recipe.mod_de_preparare}"></td>
<!-- 						<td>delete</td> -->
					</tr>
				</tbody>
			</table>
		</div>

	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
