
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar"></div>

	<div class="container">
		<div class="table-responsive">
			<table id="recipeListTable"
				class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<!-- 						<th><input th:id="selectAllRecipes" type="checkbox" /></th> -->
						<th>Name</th>
						<th>Timp de preparare</th>
						<th>Ingrediente</th>
						<th>Mod de preparare</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="recipe : ${recipeList}">
						<!-- 						<td><input hidden="hidden" name="id" th:value="${recipe.id}" /> -->
						<!-- 														<input th:id="'selected'+${recipe.id}" class="checkboxRecipe" -->
						<!-- 														type="checkbox" /></td> -->
						<td><a th:href="@{/recipe/recipeInfo(id=${recipe.id})}"><span
								th:text="${recipe.name}"></span></a></td>
						<td th:text="${recipe.timp_preparare}"></td>
						<td th:text="${recipe.ingrediente}"></td>
						<td th:utext="${recipe.mod_de_preparare}"></td>
						<td><input hidden="hidden" name="id" th:value="${recipe.id}" />
							<button th:id="'oneRecipe-'+${recipe.id}"
								class="btn btn-danger btn-xs delete-recipe" type="submit"
								value="delete">
								<span class="fa fa-times"></span>Delete
							</button></td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- 		<button th:id="deleteSelected" class="btn btn-danger ">Delete -->
		<!-- 			Selected</button> -->
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
	<script>
		$(document).ready(
				function() {
					$("#recipeListTable").DataTable(
							{
								"lengthMenu" : [ [ 1, 5, 10, 15, 20, -1 ],
										[ 1, 5, 10, 15, 20, "All" ] ],
								"ordering" : false,
								stateSave : true
							});
				});
	</script>
</body>
</html>
